.code-block {
  position: relative;
  border: 1px solid #e1e4e8;
  padding: 10px;
  margin: 10px 0;
  background-color: #f6f8fa;
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f7f7f7;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.copy-btn:hover {
  background-color: #e7e7e7;
}